body {
    font-size: 14px;
    font-family: sans-serif;
    padding-top: 50px;
}

#body {
    max-width: 850px;
}

.navbar-brand {
    padding-left: 50px;
    background: url("images/logo.png") no-repeat 0 5px;
    background-size: 40px 40px;
}

#legend {
    /*position: fixed;*/
    /*top: calc(50% - 100px);*/
    /*right: 30px;*/
    width: 100px;
    height: 230px;
    border: none;
    margin-bottom: 10px;
    margin-left: 10px;
}

label.input-checkbox-label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}

input[type=range] {
    width: 130px;
}

#main-bar-title {
    background-color: black;
    color: white;
    padding-left: 10px;
    margin-bottom: 5px;
}

#main-bar-title h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#main-bar-title h1,#main-bar-title img {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}

#legend .draw {
    width: 100%;
    height: 200px;
}

#legend .title {
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: underline;
}

#draw,#sidebar {
    display: inline-block;
    vertical-align: top;
}

#sidebar input[type=number] {
    width: 100px;
}

#sidebar label {
    font-weight: normal !important;
}

#supdraw {
    width:1020px;
    height: auto;
    position: relative;
    margin-top: 5px;
}

#draw {
    width: 850px;
}

.mylabel {
    font-size: 18pt;
    font-weight: bold;
    font-family: FreeSans, sans-serif;
    top: 10pt;
    position: absolute;
}

#restore-all {
    width: 5% !important;
    height: 5% !important;
    top:0;
    right:0;
    position: absolute;
    background: black url("images/reset.svg") no-repeat 2px 2px;
    background-size: 90% 90%;
    cursor: pointer;
}

#restore-all:hover {
    background: black url("images/reset_hover.svg") no-repeat 2px 2px;
    background-size: 90% 90%;
}

/*Loading logo*/
#loading {
    position: absolute;
    left: calc(50% - 140px);
    top: calc(50% - 48px);
}

#loading .label {
    color: black;
    display: inline-block;
    padding-left: 55px;
    padding-right: 5px;
    margin-left: -30px;
    height: 50px;
    width: 180px;
    background: white;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 20pt;
    font-weight: bold;
    vertical-align: middle;
}

.cssload-container{
    position:relative;
    display: inline-block;
    padding-top: -20px;
    vertical-align: middle;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgb(204,204,204);
    border-left-color: rgb(0,0,0);
    border-radius: 674px;
    -o-border-radius: 674px;
    -ms-border-radius: 674px;
    -webkit-border-radius: 674px;
    -moz-border-radius: 674px;
}

.cssload-whirlpool {
    margin: -17px 0 0 -17px;
    height: 34px;
    width: 34px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
    content: "";
    margin: -16px 0 0 -16px;
    height: 30px;
    width: 30px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
    content: "";
    margin: -20px 0 0 -20px;
    height: 38px;
    width: 38px;
    animation: cssload-rotate 2300ms linear infinite;
    -o-animation: cssload-rotate 2300ms linear infinite;
    -ms-animation: cssload-rotate 2300ms linear infinite;
    -webkit-animation: cssload-rotate 2300ms linear infinite;
    -moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  Body {
    font-size: 16px;
    }
}

/* Submit form: */
.form-group, .form-group input {
    margin-bottom: 5px !important;
}

div.submit-form {
    margin-bottom: 10px;
}

h2.title-launch {
    margin-bottom: 20px;
}

.form-group input[type=text], .form-group input[type=email] {
    width: 300px;
}

#body {
    margin-left: 15px;
    margin-top: 10px;
}

.errors-submit ul li {
    background-color: #ff756b;
    border: solid 2px #7c0000;
    margin-bottom: 5px;
    padding: 3px;
    list-style-type: none;
    font-weight: bold;
}

.errors-submit ul {
    padding: 0;
    width: 460px;
}

h2.status {
    font-size: 18pt;
    margin-bottom: 15px;
    margin-top: 10px;
}

html, body {
    height: 100%;
}

#main-wrapper {
    position: relative;
    padding-bottom: 55px;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    height: 55px;
    background: white;
}

footer hr {
    margin-top: 0;
}