**/__pycache__
**/.directory
*/*.pyc
.idea
.vscode
dgenies/database.sqlite
logs/*
!logs/README
**/.local_scheduler_pid
dgenies.egg-info
application.properties.local
dist
docs/_build
docs/javascript
venv
.venv