flask==0.12.*
Flask-Mail==0.9.*
Jinja2==2.9.*
peewee==2.10.2
numpy
requests==2.18.*
biopython==1.70
python-crontab==2.2.*
psutil==5.4.*
tendo==0.2.*
matplotlib==2.1.*
drmaa==0.7.*
intervaltree==2.1.*
argparse==1.4
Markdown==2.6.*
pyyaml==3.12
