Flask==1.0.*
Jinja2~=2.11.3
numpy
requests>=2.20.1
biopython>=1.70
psutil>=5.6.6
tendo==0.2.*
matplotlib>=2.1.*
intervaltree==3.*
Markdown>=2.6.*
pyyaml>=5.4.1
xopen>=1.0
Flask-Mail==0.9.*
peewee==3.*
python-crontab>=2.2.*,==2.*
drmaa==0.7.*
