<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block scripts %}
        <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}" type="text/JavaScript"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}" type="text/JavaScript"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}" type="text/JavaScript"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/JavaScript"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-notify.min.js') }}" type="text/JavaScript"></script>
        <script src="{{ url_for('static', filename='js/dgenies.js') }}" type="text/JavaScript"></script>
        <script src="{{ url_for('static', filename='js/dgenies.prototypes.js') }}" type="text/JavaScript"></script>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body role="document" onload="{% block onload %}{% endblock %}">
{% block body %}
    <div id="main-wrapper">
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">D-GENIES</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% if(menu == 'index') %}active{% endif %}"><a href="/">About</a></li>
                        <li class="{% if(menu == 'run') %}active{% endif %}"><a href="/run">Run</a></li>
                        <li class="dropdown {% if(menu == 'results') %}active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Results<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% block results %}
                                    {% set has_job = False %}
                                    {% if current_result and current_result not in results %}
                                        {% set has_job = True %}
                                        <li><a href="/result/{{ current_result }}">{{ current_result }}</a></li>
                                    {% endif %}
                                    {% if results | length > 0 %}
                                        {% for result in results %}
                                            <li><a href="/result/{{ result }}">{{ result }}</a></li>
                                        {% endfor %}
                                    {% elif not has_job %}
                                        <li><a href="/run">Please run a job!</a></li>
                                    {% endif %}
                                {% endblock %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Launch a job</a></li>
                                <li><a href="#">Zoom</a></li>
                                <li><a href="#">Filter data</a></li>
                            </ul>
                        </li>
                        <li><a href="mailto:support.genopole@toulouse.inra.fr">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="container theme-showcase" id="body-container" role="main">

            {% block content %}
            {% endblock %}

            <footer>
                <hr>
                <div class="container" style="text-align: center;">
                    <p>Copyright © 2017, INRA | Designed by <a target="_blank" href="http://bioinfo.genotoul.fr/">GenoToul
                        Bioinfo platform</a>.</p>
                </div>
            </footer>

        </div> <!-- /container -->
    </div>
{% endblock %}
</body>
</html>