<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}" type="text/JavaScript"></script>
	<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}" type="text/JavaScript"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js') }}" type="text/JavaScript"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/JavaScript"></script>
	<script src="{{ url_for('static', filename='js/d3.min.js') }}" type="text/JavaScript"></script>
	<script src="{{ url_for('static', filename='js/d3.boxplot.js') }}" type="text/JavaScript"></script>
    <script src="{{ url_for('static', filename='js/d3.boxplot.events.js') }}" type="text/JavaScript"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body onload="{% block onload %}{% endblock %}">
{% block body %}
    <div id="main-bar-title">
        <img src="{{ url_for('static', filename='images/logo.png') }}" height="40px" alt=""/><h1>{{ title_small }}</h1>
    </div>
{% endblock %}
</body>
</html>