<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}" type="text/JavaScript"></script>
	<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}" type="text/JavaScript"></script>
	<script src="{{ url_for('static', filename='js/d3.min.js') }}" type="text/JavaScript"></script>
	<script src="{{ url_for('static', filename='js/d3.boxplot.js') }}" type="text/JavaScript"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body onload="d3.boxplot.init();">
<h1>{{ title }}</h1>
<div id="subdraw">
    <div id="draw"></div>
    <div id="loading">
    <div class="cssload-container">
        <div class="cssload-whirlpool"></div>
    </div>
    <div class="label">
        <div class="mylabel">
            Loading...
        </div>
    </div>
</div>
</div>
<div id="legend">
<div class="title">
Legend
</div>
<div class="draw">
</div>
</body>
</html>