{% extends 'base.html' %}
{% block content %}
    <h2 class="status">Job name: {{ id_job }}</h2>
    {% if status == "started" %}
        <p>Your job has started.<br/>
            You will receive an email when it will be finished.<br/>
            Alternatively, you can refresh this page to update status.</p>
    {% elif status == "submitted" %}
        <p>Your job has been submitted.<br/>
            You will receive an email when it will be finished.<br/>
            Alternatively, you can refresh this page to update status.</p>
    {% elif status == "getfiles" %}
        <p>Your job has been submitted. We are retrieving data...<br/>
            You will receive an email when it will be finished.<br/>
            Alternatively, you can refresh this page to update status.</p>
    {% elif status == "indexing" %}
        <p>Your job has been submitted. We are indexing fasta files...<br/>
            You will receive an email when it will be finished.<br/>
            Alternatively, you can refresh this page to update status.</p>
    {% elif status == "waiting" %}
        <p>Your job has been shedulded. It will start soon...<br/>
            You will receive an email when it will be finished.<br/>
            Alternatively, you can refresh this page to update status.</p>
    {% elif status == "success" %}
        <p>Your job has ended successfully.<br/>
            Please <a href="/result/{{ id_job }}">click here</a> to show results.</p>
    {% elif status == "error" %}
        <p>Your job has failed.
            {% if error == "" %}
                Please try again.<br/>
                If the problem persists, please contact the support.
            {% else %}
                <br/>{{ error | safe }}
            {% endif %}</p>
    {% else %}
        <p>This job does not exists!</p>
    {% endif %}
{% endblock %}