{% extends 'base.html' %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'js/tmpl.min.js') }}"></script>
    <script type="text/x-tmpl" id="tmpl-listing">
        [% for (var i=0; i<o.length; i++) { %]
        <tr class="[%=o[i].state%]-file" data-index="[%=i%]">
            <td>[%=o[i].name%]</td>
            <td>[%=o[i].size%]</td>
            <td>[%=o[i].state%]</td>
            <td><button id="delete-btn-[%=i%]" type="button" class="btn btn-danger delete delete-btn"><i class="glyphicon glyphicon-trash"></i></button></td>
        </tr>
        [% } %]
    </script>
    {% if debug %}
        <!-- The basic File Upload plugin -->
        <script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
        <!-- The File Upload processing plugin -->
        <script src="{{ url_for('static', filename='js/jquery.fileupload-process.js') }}"></script>
        <!-- The File Upload validation plugin -->
        <script src="{{ url_for('static', filename='js/jquery.fileupload-validate.js') }}"></script>

        <script src="{{ url_for('static', filename='js/chevrotain.min.js') }}" type="text/JavaScript"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/codemirror.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/lint.css') }}" type="text/css">
        <script src="{{ url_for('static', filename='js/codemirror/codemirror.js') }}" type="text/JavaScript"></script>
        <script src="{{ url_for('static', filename='js/codemirror/simple.js') }}" type="text/JavaScript"></script>
        <script src="{{ url_for('static', filename='js/codemirror/lint.js') }}" type="text/JavaScript"></script>
        
        <script src="{{ url_for('static', filename='js/dgenies.run.js') }}" type="text/JavaScript"></script>
        <script src="{{ url_for('static', filename='js/dgenies.run.batch.js') }}" type="text/JavaScript"></script>
    {% else %}
        <script src="{{ url_for('static', filename='js/jquery.fileupload.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/chevrotain.min.js') }}" type="text/JavaScript"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/codemirror.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror/lint.css') }}" type="text/css">
        <script src="{{ url_for('static', filename='js/codemirror/codemirror.js') }}" type="text/JavaScript"></script>
        <script src="{{ url_for('static', filename='js/codemirror/simple.js') }}" type="text/JavaScript"></script>
        <script src="{{ url_for('static', filename='js/codemirror/lint.js') }}" type="text/JavaScript"></script>
        <script src="{{ url_for('static', filename='js/dgenies.run.min.js') }}" type="text/JavaScript"></script>
    {% endif %}
{% endblock %}
{% block onload %}
    {{ super() }}
    dgenies.run.init('{{ s_id }}', {{ allowed_ext }}, {{ max_upload_file_size }}, '{{ target }}', '{{ query }}',
    '{{ backup }}', '{{ batch }}', {{ tools_names }}, {{ tools_ava }}, {{ tools_checking }}, {{ max_batch_jobs }});
{% endblock %}
{% block content %}
    {% set fnote = 1 %}
    <style>
        .tab2 {
            display: none;
        }
        .tab3 {
            display: none;
        }
    </style>
    {% if inforun is not none %}
        <div>
            <div class="inforun {{ inforun.type }}">
                {{ inforun.message | safe }}
            </div>
        </div>
    {% endif %}
    <form id="submit_minimap" method=post action="#">
        <h2 class="title-launch">Launch map analysis</h2>
        <div class="errors-submit">
            <ul class=flashes>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <li>{{ message | safe }}</li>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </ul>
        </div>

        <div class="submit-form">
            <fieldset>
                <div class="id_job form-group row">
                    <label for="id_job" class="id-job col-sm-2 col-form-label">Name of your job</label>
                    <div class="col-sm-10">
                        <input type="text" id="id_job" name="id_job" class="form-control" value="{{ id_job }}" autocomplete="Off" required/>
                    </div>
                </div>
                {% if mode == "webserver" %}
                <div class="form-group row">
                    <label for="email" class="email col-sm-2 col-form-label">E-mail <sup><a href="#fn{{ fnote }}" id="ref{{ fnote }}">{{ fnote }}</a></sup>{% set fnote = fnote + 1 %}</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" value="{{ email }}" placeholder="name@example.com" required>
                    </div>
                </div>
                {% endif %}

                <ul class="nav nav-tabs" id="tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link tab active" id="tab1" data-toggle="tab" href="#align-tab" role="tab" aria-controls="align" aria-selected="true">New alignment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab" id="tab2" data-toggle="tab" href="#plot-tab" role="tab" aria-controls="plot" aria-selected="false">Plot alignment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab" id="tab3" data-toggle="tab" href="#batch-tab" role="tab" aria-controls="batch" aria-selected="false">Batch alignments</a>
                    </li>
                </ul>

                <div class="tab-content" id="tabContent">
                    <div class="tab-pane fade show active" id="align-tab" role="tabpanel" aria-labelledby="align-tab">
                        {# Tab 1 #}
                        {% set fnote_tab = fnote %}
                        <div class="form-group row">
                            <label for="file_target" class="file-target col-sm-2 col-form-label">Target fasta <sup><a href="#fn{{ fnote_tab }}" id="ref{{ fnote_tab }}">{{ fnote_tab }}</a></sup></label>
                            <div class="input-group col-sm-10" style="display: flex;">
                                <div class="input-group-prepend">
                                    <select class="form-control select-type-input target">
                                        <option value="0">Local</option>
                                        <option value="1">Url</option>
                                    </select>
                                </div>
                                <div class="target-label in-label" id="dropzone-target">
                                    <div id="progress-target" class="progress">
                                        <div class="bar" style="width: 0%;"></div>
                                    </div>
                                    <input id="target" name="target" class="form-control show-file" type="text" value="" aria-label="Target file"/>
                                </div>
                                <div class="input-group-append">
                                    <div class="loading-file target" style="display: none"></div>
                                    <div class="upload-success target" style="display: none"></div>
                                    <div class="file-size target"></div>
                                    <button class="btn btn-secondary" type="button" id="button-target" title="Select a file">
                                        <span class="glyphicon glyphicon-folder-open"></span>&nbsp
                                    </button>
                                </div>
                                <div>
                                    <small id="targetHelp" class="form-text text-muted">
                                        Mandatory. Can be gzipped. Must end with <code>.fa</code>, <code>.fasta</code>, <code>.fna</code>, <code>.fa.gz</code>, <code>.fasta.gz</code> or <code>.fna.gz</code>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="file_query" class="file-query col-sm-2 col-form-label">Query fasta <sup><a href="#fn{{ fnote_tab }}" id="ref{{ fnote_tab }}">{{ fnote_tab }}</a></sup></label>
                            <div class="input-group col-sm-10" style="display: flex;">
                                <div class="input-group-prepend">
                                    <select class="form-control select-type-input query">
                                        <option value="0">Local</option>
                                        <option value="1">Url</option>
                                    </select>
                                </div>
                                <div class="query-label in-label" id="dropzone-query">
                                    <div id="progress-query" class="progress">
                                        <div class="bar" style="width: 0%;"></div>
                                    </div>
                                    <input id="query" name="query" class="form-control show-file" type="text" value="" aria-label="Query file"/>
                                </div>
                                <div class="input-group-append">
                                    <div class="loading-file query hide"></div>
                                    <div class="upload-success query hide"></div>
                                    <div class="file-size query"></div>
                                    <button class="btn btn-secondary" type="button" id="button-query" title="Select a file">
                                        <span class="glyphicon glyphicon-folder-open"></span>&nbsp
                                    </button>
                                </div>
                                <div>
                                    <small id="queryHelp" class="form-text text-muted">
                                        Optional. Can be gzipped. Must end with <code>.fa</code>, <code>.fasta</code>, <code>.fna</code>, <code>.fa.gz</code>, <code>.fasta.gz</code> or <code>.fna.gz</code>
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% if tools | length > 1 %}
                            <div class="form-group row">
                                <label for="tool" class="file-query col-sm-2 col-form-label tools">Aligner</label>
                                <div class="form-check col-sm-10">
                                {% for tool in tools_names %}
                                    <input class="form-check-input" type="radio" name="tool" id="tool-{{ tool }}" value="{{ tool }}" {% if loop.index0 == 0 %}checked{% endif %}>
                                    <label class="form-check-label" for="tool-{{ tool }}">
                                        {{ tools[tool].label | capitalize }} <span class="glyphicon glyphicon-question-sign" style="color: #2aabd2" title="{{ tools[tool].help }}">&nbsp</span>
                                    </label>
                                {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <input type="radio" name="tool" id="tool" value="{{ tool }}" style="display: none;" checked/>
                        {% endif %}

                        {% if tools | length > 1 %}
                            {% for tool in tools_names %}
                                {% set tool_loop = loop %}
                                {% if tools[tool].options|length%}
                                    <div class="form-group {% if loop.index0 != 0%}hide{% endif %}">
                                        <label id="tool-options-{{tool}}" class="form-group options optionx tool-options-{{tool}}">Options</label>
                                        {% for opt in tools_options[tool] %}
                                            <div class="form-group row optionx tool-options-{{tool}}  {% if tool_loop.index0 != 0 %}hide{% endif %}">
                                                <label class="col-sm-2 options">{{ opt.label }}&nbsp<span class="glyphicon glyphicon-question-sign" style="color: #2aabd2"
                                                    title="{{ opt.help }}"></span></label>
                                                {% for entry in opt['entries'] %}
                                                    <div class="form-check">
                                                        <input class="form-check-input"
                                                            type="{{ opt.type }}"
                                                            id="tool-options-{{tool}}-{{ opt.group }}:{{ entry.key }}"
                                                            name="tool-options-{{tool}}-{{ opt.group }}{% if opt.type != 'radio' %}:{{ entry.key }}{% endif %}"
                                                            value="{{ opt.group }}:{{ entry.key }}"
                                                            {% if entry.default %}checked{% endif %}/>
                                                        <label class="form-check-label" style="vertical-align: bottom; line-height: 30px; font-weight: normal;"
                                                            for="tool-options-{{tool}}-{{ opt.group }}:{{ entry.key }}">
                                                            {{ entry.label | capitalize }}&nbsp<span class="glyphicon glyphicon-question-sign" style="color: #2aabd2"
                                                                title="{{ entry.help }}"></span>
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% set tool = tools_names[0] %}
                            {% if tools[tool].options %}
                                <div id="tool-options-{{tool}}" class="form-group row">
                                    <label class="form-check-label options">Options</label>
                                </div>
                                <div>
                                    {% for opt in tools[tool].options %}
                                        <div class="form-group row optionx tool-options-{{tool}}">
                                            <label class="options">{{ opt.label }}&nbsp<span class="glyphicon glyphicon-question-sign" style="color: #2aabd2"
                                                title="{{ opt.help }} (group: {{ opt.group }})"></span></label>
                                            {% for entry in opt['entries'] %}
                                                <div class="form-check">
                                                    <input class="form-check-input"
                                                           type="{{ opt.type }}"
                                                           id="tool-options-{{tool}}-{{ opt.group }}:{{ entry.key }}"
                                                           name="tool-options-{{tool}}-{{ opt.group }}{% if opt.type != 'radio' %}:{{ entry.key }}{% endif %}"
                                                           value="{{ opt.group }}:{{ entry.key }}"
                                                           {% if entry.default %}checked{% endif %}/>
                                                    <label class="form-check-label"
                                                           for="tool-options-{{tool}}-{{ opt.group }}:{{ entry.key }}"
                                                           style="vertical-align: bottom; line-height: 30px; font-weight: normal;">
                                                        {{ entry.label | capitalize }}&nbsp<span class="glyphicon glyphicon-question-sign" style="color: #2aabd2"
                                                                title="{{ entry.help }} (id: {{ opt.group }}:{{ entry.key }})"></span>
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="plot-tab" role="tabpanel" aria-labelledby="plot-tab">
                        {# Tab 2 #}
                        {% set fnote_tab = fnote %}
                        <div class="form-group row">
                            <label for="file_align" class="file-align col-sm-2 col-form-label">Alignment file <sup><a href="#fn{{ fnote_tab }}" id="ref{{ fnote_tab }}">{{ fnote_tab }}</a></sup>{% set fnote_tab = fnote_tab + 1 %}</label>
                            <div class="input-group col-sm-10" style="display: flex;">
                                <div class="input-group-prepend">
                                    <select class="form-control select-type-input alignfile">
                                        <option value="0">Local</option>
                                        <option value="1">Url</option>
                                    </select>
                                </div>
                                <div class="alignfile-label in-label" id="dropzone-alignfile">
                                    <div id="progress-alignfile" class="progress">
                                        <div class="bar" style="width: 0%;"></div>
                                    </div>
                                    <input id="alignfile" name="alignfile" class="form-control show-file" type="text" value="" aria-label="Alignment file"/>
                                </div>
                                <div class="input-group-append">
                                    <div class="loading-file alignfile" style="display: none"></div>
                                    <div class="upload-success alignfile" style="display: none"></div>
                                    <div class="file-size alignfile"></div>
                                    <button class="btn btn-secondary" type="button" id="button-alignfile" title="Select a file">
                                        <span class="glyphicon glyphicon-folder-open"></span>&nbsp
                                    </button>
                                </div>
                                <div>
                                    <small id="alignfileHelp" class="form-text text-muted">
                                        In PAF or MAF format. Must end with <code>.paf</code> or <code>.maf</code>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="file_targetidx" class="file-targetidx col-sm-2 col-form-label">Target file <sup><a href="#fn{{ fnote_tab }}" id="ref{{ fnote_tab }}">{{ fnote_tab }}</a></sup></label>
                            <div class="input-group col-sm-10" style="display: flex;">
                                <div class="input-group-prepend">
                                    <select class="form-control select-type-input targetidx">
                                        <option value="0">Local</option>
                                        <option value="1">Url</option>
                                    </select>
                                </div>
                                <div class="targetidx-label in-label" id="dropzone-targetidx">
                                    <div id="progress-targetidx" class="progress">
                                        <div class="bar" style="width: 0%;"></div>
                                    </div>
                                    <input id="targetidx" name="targetidx" class="form-control show-file" type="text" value="" aria-label="Target file"/>
                                </div>
                                <div class="input-group-append">
                                    <div class="loading-file targetidx" style="display: none"></div>
                                    <div class="upload-success targetidx" style="display: none"></div>
                                    <div class="file-size targetidx"></div>
                                    <button class="btn btn-secondary" type="button" id="button-targetidx" title="Select a file">
                                        <span class="glyphicon glyphicon-folder-open"></span>&nbsp
                                    </button>
                                </div>
                                <div>
                                    <small id="targetidxHelp" class="form-text text-muted">
                                        Fasta file or index built by <a href="https://raw.githubusercontent.com/genotoul-bioinfo/dgenies/v{{version}}/src/dgenies/bin/index.py" download="index.py">our tool</a>. Must end with <code>.fa</code>, <code>.fasta</code>, <code>.fna</code>, <code>.fa.gz</code>, <code>.fasta.gz</code>, <code>.fna.gz</code> or <code>.idx</code>.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="file_queryidx" class="file-queryidx col-sm-2 col-form-label">Query file <sup><a href="#fn{{ fnote_tab }}" id="ref{{ fnote_tab }}">{{ fnote_tab }}</a></sup>{% set fnote_tab = fnote_tab + 1 %}</label>
                            <div class="input-group col-sm-10" style="display: flex;">
                                <div class="input-group-prepend">
                                    <select class="form-control select-type-input queryidx">
                                        <option value="0">Local</option>
                                        <option value="1">Url</option>
                                    </select>
                                </div>
                                <div class="queryidx-label in-label" id="dropzone-queryidx">
                                    <div id="progress-queryidx" class="progress">
                                        <div class="bar" style="width: 0%;"></div>
                                    </div>
                                    <input id="queryidx" name="queryidx" class="form-control show-file" type="text" value="" aria-label="Query file"/>
                                </div>
                                <div class="input-group-append">
                                    <div class="loading-file queryidx" style="display: none"></div>
                                    <div class="upload-success queryidx" style="display: none"></div>
                                    <div class="file-size queryidx"></div>
                                    <button class="btn btn-secondary" type="button" id="button-queryidx" title="Select a file">
                                        <span class="glyphicon glyphicon-folder-open"></span>&nbsp
                                    </button>
                                </div>
                                <div>
                                    <small id="queryidxHelp" class="form-text text-muted">
                                        Fasta file or index built by <a href="https://raw.githubusercontent.com/genotoul-bioinfo/dgenies/v{{version}}/src/dgenies/bin/index.py" download="index.py">our tool</a>. Must end with <code>.fa</code>, <code>.fasta</code>, <code>.fna</code>, <code>.fa.gz</code>, <code>.fasta.gz</code>, <code>.fna.gz</code> or <code>.idx</code>.
                                    </small>
                                </div>
                            </div>
                        </div>
                        
                        <h3 class="orsep">- or -</h3>

                        <div class="form-group row">
                            <label for="file_backup" class="file-backup col-sm-2 col-form-label">Backup file <sup><a href="#fn{{ fnote_tab }}" id="ref{{ fnote_tab }}">{{ fnote_tab }}</a></sup></label>
                            <div class="input-group col-sm-10" style="display: flex;">
                                <div class="input-group-prepend">
                                    <select class="form-control select-type-input backup">
                                        <option value="0">Local</option>
                                        <option value="1">Url</option>
                                    </select>
                                </div>
                                <div class="backup-label in-label" id="dropzone-backup">
                                    <div id="progress-backup" class="progress">
                                        <div class="bar" style="width: 0%;"></div>
                                    </div>
                                    <input id="backup" name="backup" class="form-control show-file" type="text" value="" aria-label="Backup file"/>
                                </div>
                                <div class="input-group-append">
                                    <div class="loading-file backup" style="display: none"></div>
                                    <div class="upload-success backup" style="display: none"></div>
                                    <div class="file-size backup"></div>
                                    <button class="btn btn-secondary" type="button" id="button-backup" title="Select a file">
                                        <span class="glyphicon glyphicon-folder-open"></span>&nbsp
                                    </button>
                                </div>
                                <div>
                                    <small id="backupHelp" class="form-text text-muted">
                                        TAR file from a previous run or built following <a href="/documentation/formats#backup-file"> this documentation</a>. Must ends with <code>.tar</code> or <code>.tar.gz</code>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="batch-tab" role="tabpanel" aria-labelledby="batch-tab">
                        {# Tab 3 #}
                        <!--
                        <div class="input-group mb-3"  style="display: flex;">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Batch file<sup><a href="#fn{{ fnote_tab }}" id="ref{{ fnote_tab }}">{{ fnote_tab }}</a></sup>{% set fnote_tab = fnote_tab + 1 %}</span>
                            </div>
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="bname">
                              <label class="custom-file-label" for="bname">Choose file</label>
                            </div>
                        </div>
                        -->
                        {% set fnote_tab = fnote %}
                        <div class="form-group row">
                            <label for="file_batch" class="file-batch col-sm-2 col-form-label">Batch file<sup><a href="#fn{{ fnote_tab }}" id="ref{{ fnote_tab }}">{{ fnote_tab }}</a></sup>{% set fnote_tab = fnote_tab + 1 %}</label>
                            <div class="input-group col-sm-10" style="display: flex;">
                                <div class="custom-file" id="inputLocal">
                                    <input type="file" class="custom-file-input" id="bname" name="bname">
                                    <label class="custom-file-label" for="bname">Choose file</label>
                                </div>
                                <small id="targetHelp" class="form-text text-muted">
                                    Text file following <a href="/documentation/formats#batch-file">batch format</a>. Must end with <code>.txt</code>
                                </small>
                            </div>
                        </div>
                        <div>
                            <textarea id="batch_content" rows="10"></textarea>
                        </div>
                        <div class="row batch hide" style="display: flex;">
                            <div class="col-1"></div>
                            <div class="col-2"><strong>Tool</strong></div>
                            <div class="col-1"></div>
                            <div class="col-8"><strong>Options</strong></div>
                        </div>
                        <div id="input-dropzone">
                            <table id="listing" aria-describedby="listing-desc">
                                <thead>
                                    <tr>
                                        <th scope="col">File</th>
                                        <th scope="col">Size</th>
                                        <th scope="col">State</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>            
                        </div>
                        <div class="row batch" style="display: flex;">
                            <div class="col-3">
                            <div class="list-group" id="list-tab" role="tablist">
                                {% for tool in tools_names %}
                                    <a class="list-group-item list-group-item-action {% if loop.index0 == 0 %}active{% endif %}" id="list-option-{{ tool }}-list" data-toggle="list" href="#list-option-{{ tool }}" role="tab" aria-controls="{{ tool }}">
                                        tool={{ tool }}
                                        <span class="glyphicon glyphicon-question-sign" title="{{ tools[tool].help }}"></span><br>
                                        <small>{{ tools[tool].label | capitalize }}</small>
                                    </a>
                                {% endfor %}
                            </div>
                            </div>
                            <div class="col-9">
                            <div class="tab-content" id="nav-tabContent">
                                {% for tool in tools_names %}
                                    <div class="tab-pane fade show {% if loop.index0 == 0 %}active{% endif %}" id="list-option-{{ tool }}" role="tabpanel" aria-labelledby="list-option-{{ tool }}-list">
                                        {% if tools[tool].options %}
                                            <ul>
                                            {% for opt in tools[tool].options %}
                                                {% set outer_loop = loop %}
                                                <li>{{ opt.label }}{% if opt.type == "radio" %} (mutually exclusive){% endif %}:</li>
                                                <ul>
                                                {% for entry in opt['entries'] %}
                                                    <li {% if entry.default %}style="font-weight: bold"{% endif %}>{{ opt.group }}:{{ entry.key }} - {{ entry.label }}&nbsp<span class="glyphicon glyphicon-question-sign" style="color: #2aabd2"
                                                        title="{{ entry.help }}"></span></li>
                                                {% endfor %}
                                                </ul>
                                            {% endfor %}
                                            </ul>
                                        {% else %}
                                            <td style="vertical-align:top; text-align: center;">No option</td>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="buttons">
                <button type="button" id="submit">Submit</button>
                {% if example_align %}
                    <button class="tab1 tabx" type="button" id="example_align">Load example</button>
                {% endif %}
                {% if example_backup %}
                    <button class="tab2 tabx" type="button" id="example_backup">Load example</button>
                    <button class="tab2 tabx" type="button" id="dl_backup">Download example</button>
                {% endif %}
                {% if example_batch %}
                    <button class="tab3 tabx" type="button" id="view_batch">
                        <a href="/example/batch" rel="modal:open" style="text-decoration: none; color: inherit;">View example</a>
                    </button>
                    <button class="tab3 tabx" type="button" id="example_batch">Load example</button>
                {% endif %}
            </div>
            <div class="footnotes">
                {% set fnote = 1 %}
                {% if mode == "webserver" %}
                    <p class="afterworlff"><sup id="fn{{ fnote }}"><a href="#fn{{ fnote }}" id="ref{{ fnote }}">{{ fnote }}</a></sup> We will send you results by mail.</p>
                    {% set fnote = fnote + 1 %}
                {% endif %}
                <div class="tabx tab1">
                    {% set fnote_tab = fnote %}
                    <p class="afterworlff"><sup id="fn{{ fnote_tab }}"><a href="#fn{{ fnote_tab }}" id="ref{{ fnote_tab }}">{{ fnote_tab }}</a></sup> Can be gzipped. Must end with <code>.fa</code>, <code>.fasta</code>, <code>.fna</code>, <code>.fa.gz</code>, <code>.fasta.gz</code> or <code>.fna.gz</code></p>
                    {% set fnote_tab = fnote_tab + 1 %}
                </div>
                <div class="tabx tab2">
                    {% set fnote_tab = fnote %}
                    <p class="afterworlff"><sup id="fn{{ fnote_tab }}"><a href="#fn{{ fnote_tab }}" id="ref{{ fnote_tab }}">{{ fnote_tab }}</a></sup> In PAF or MAF format. Must end with <code>.paf</code>, <code>.maf</code></p>
                    {% set fnote_tab = fnote_tab + 1 %}
                    <p class="afterworlff"><sup id="fn{{ fnote_tab }}"><a href="#fn{{ fnote_tab }}" id="ref{{ fnote_tab }}">{{ fnote_tab }}</a></sup> Fasta file or index built by <a href="https://raw.githubusercontent.com/genotoul-bioinfo/dgenies/v{{version}}/src/dgenies/bin/index.py" download="index.py">our tool</a>. Must end with <code>.fa</code>, <code>.fasta</code>, <code>.fna</code>, <code>.fa.gz</code>, <code>.fasta.gz</code>, <code>.fna.gz</code> or <code>.idx</code>.</p>
                    {% set fnote_tab = fnote_tab + 1 %}
                    <p class="afterworlff"><sup id="fn{{ fnote_tab }}"><a href="#fn{{ fnote_tab }}" id="ref{{ fnote_tab }}">{{ fnote_tab }}</a></sup> TAR file from a previous run or built following <a href="/documentation/formats#backup-file"> this documentation</a>. Must ends with <code>.tar</code> or <code>.tar.gz</code>.</p>
                    {% set fnote_tab = fnote_tab + 1 %}
                </div>
                <div class="tabx tab3">
                    {% set fnote_tab = fnote %}
                    <p class="afterworlff"><sup id="fn{{ fnote_tab }}"><a href="#fn{{ fnote_tab }}" id="ref{{ fnote_tab }}">{{ fnote_tab }}</a></sup> Text file following <a href="/documentation/formats#batch-file">batch format</a>. Must end with <code>.txt</code></p>
                    {% set fnote_tab = fnote_tab + 1 %}
                    <p class="afterworlff"><sup id="fn{{ fnote_tab }}"><a href="#fn{{ fnote_tab }}" id="ref{{ fnote_tab }}">{{ fnote_tab }}</a></sup> Look at the <a href="/documentation/formats#batch-file">batch format</a> page for full description. Default options appear in <b>bold</b></code></p>
                    {% set fnote_tab = fnote_tab + 1 %}
                </div>
            </div>
        </div>
        <div id="uploading-loading" style="display:none;">Uploading files...</div>
        <div class="hidden-input-files">
            <input type="file" name="file-query" class="file-query" data-url="/upload" title=""/>
            <input type="file" name="file-target" class="file-target" data-url="/upload"/>
            <input type="file" name="file-alignfile" class="file-alignfile" data-url="/upload"/>
            <input type="file" name="file-targetidx" class="file-targetidx" data-url="/upload"/>
            <input type="file" name="file-queryidx" class="file-queryidx" data-url="/upload"/>
            <input type="file" name="file-backup" class="file-backup" data-url="/upload"/>
            <input id="batch-multiple-files-upload" type="file" name="multiple-files" class="multiple-files" data-url="/upload" multiple/>
        </div>
    </form>
{% endblock %}